<div class="ui-s480">
    <ui-card [class.loading]="loading">
        <div class="ui-progress primary" [class.hide]="!loading">
            <div class="indeterminate"></div>
        </div>
        <ui-toolbar class="flat">
            <span class="title" [class.hide]="searchOpen">Status de negócio</span>
            <div class="align-right">
                <form #searchForm name="searchForm" class="ui-validate on-dirty" [class.open]="searchOpen">
                    <ui-input-container>
                        <input #searchFormText="ngModel"
                               type="text"
                               name="searchText"
                               [(ngModel)]="searchText"
                               uiMaxlength="200"
                               autocomplete="off"
                               uiInput
                               [persistPlaceholder]="true"
                               (keyup)="pagina = 1; search(searchFormText.value)"
                               placeholder="Pesquisa">
                        <div class="ui-message">
                            <div *ngIf="searchFormText.errors && searchFormText.dirty">
                                <div class="ui-message counter error">
                                    {{searchText ? searchText.length : 0}}/200
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                </form>
                <button class="ui-button flat icon search" uiRipple (click)="toggleSearch()">
                    <i class="material-icons" [class.show]="!searchOpen">search</i>
                    <i class="material-icons" [class.show]="searchOpen">close</i>
                </button>
            </div>
        </ui-toolbar>

        <ui-data-table>
            <tbody>
            <tr>
                <th style="width: 40px">Cor</th>
                <th>Nome</th>
                <th></th>
            </tr>

            <tr *ngFor="let status of statusNegocio" [routerLink]="['/status-negocio', status.id]">
                <td>
                    <div style="width: 30px; height: 30px; border-radius: 50%"
                         [style.backgroundColor]="status.cor"></div>
                </td>
                <td class="no-wrap" [class.empty]="!status.nome">
                    <span class="ellipsis">
                        {{status.nome}}
                    </span>
                </td>
                <td class="align-right">
                    <button class="ui-button icon flat"
                            uiRipple
                            title="Excluir status de negócio"
                            type="button"
                            [uiMenuTrigger]="menuDelete"
                            (click)="prepareToDelete(status); $event.stopPropagation()">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
            <tr class="empty" *ngIf="!statusNegocio || !statusNegocio.length">
                <td colspan="3">{{loading ? 'Carregando...' : 'Nenhum status de negócio encontrado'}}</td>
            </tr>
            </tbody>

            <tfoot>
            <tr *ngIf="statusNegocio.length">
                <td colspan="3">
                    <div class="ui-button-container align-right">
                        <span class="pagination" *ngIf="totalRegistros">
                            {{((pagina - 1) * 10) + 1}} - {{pagina * 10 < totalRegistros ? pagina * 10 : totalRegistros}} de {{totalRegistros}}
                        </span>
                        <button class="ui-button flat icon"
                                uiRipple
                                [disabled]="pagina < 2"
                                (click)="pagina = pagina - 1; getStatus()">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <button class="ui-button flat icon"
                                uiRipple
                                [disabled]="totalRegistros <= pagina * 10"
                                (click)="pagina = pagina + 1; getStatus()">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>

    <div class="ui-fab-container">
        <button class="ui-button fab primary"
                uiRipple
                title="Cadastrar status de negócio"
                [routerLink]="['novo']">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

<ui-menu #menuDelete>
    <div class="ui-menu-content size-2x">
        <ui-subheader>Deseja excluir?</ui-subheader>
        <div class="ui-menu-item" uiRipple (click)="deleteStatus(statusParaDeletar); $event.stopPropagation()">
            Sim
        </div>
        <div class="ui-menu-item" uiRipple>
            Não
        </div>
    </div>
</ui-menu>



